.footer {
  &__navigation {
    flex-grow: 1;

    &--link > *,
    &--socials > * {
      cursor: pointer;
    }

    &--socials {
      font-size: var(--font-xl);
      min-width: unset !important;
    }

    &--divider {
      margin-bottom: 25px;
    }
  }
}