.ps {
  &__thumb {
    &-x, &-y {
      position: fixed !important;
      z-index: 999 !important;
      background-color: var(--text-01) !important;
    }
  }

  &__rail {
    &-x, &-y {
      position: fixed !important;
      z-index: 999 !important;
      background-color: #353535 !important;
    }
  }
}