@import "@aposin/ng-aquila/styles/theming";

$portfolio-theme: (
  ui-01: #0f0f0f,
  ui-02: #29274cff,
  ui-background: var(--ui-01),
  text-01: #E3DAC9,

  // Header
  header-background-color: transparent,
  header-border-color: transparent,
  header-font-size: var(--font-xl),
  header-letter-spacing: 5px,
  header-font-weight: 700,

  // Footer
  footer-color: var(--text-01),
  footer-font-weight: 700,

  // Menu
  menu-background-color: #00000091,
);

$nx-themes: nx-register-theme(
  $portfolio-theme,
  portfolio-theme,
)
