@import "@aposin/ng-aquila/styles/theming";

$personal-blog-theme: (
  ui-01: #0f0f0f,
  ui-background: var(--ui-01),
  text-01: #E3DAC9,

  // Menu
  menu-background-color: #00000091,
);

$nx-themes: nx-register-theme(
  $personal-blog-theme,
  personal-blog-theme,
)
