<section
  class="grid grid-rows-1 grid-cols-2 gap-x-8 justify-items-center m-auto mt-56"
  style="max-width: 1500px;">
  <div class="col-span-1 hidden lg:inline-grid">
    <img
      @fadeIn
      src="assets/image/me_rocket.png"
      alt="Me on a rocket"
      width="570"
      height="594"
      class="floating"
      style="
        max-height: 594px;
        min-width: 570px;">
  </div>
  <div
    class="col-span-2 lg:col-span-1"
    style="max-width: calc(min(60ch, calc(100% - 64px)));">
    <h1 class="text-4xl">
      Hi, I'm Christian!
    </h1>
    <p
      class="text-xl md:text-2xl my-10 md:my-14">
      Full-Stack Web Developer from
      Pittsburgh, Pennsylvania. My goal
      on this platform is to help like-minded
      individuals with some coding tips & tricks.
    </p>
    <hr class="mb-10 md:mb-24">
    <button class="px-5 py-3 bg-accent mr-10" style="border-radius: 25px; color: black; border: solid 3px var(--secondary)">VIEW MY WORK</button>
    <button class="px-5 py-3 bg-accent" style="border-radius: 25px; color: black; border: solid 3px var(--secondary)">RECENT ARTICLES</button>
  </div>
</section>