@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'scrollbar';
@import 'colors';

html, body {
  margin: 0;
  font-family: "Fira Code", monospace;
  background-color: var(--primary);
}

body {
  background: linear-gradient(
    65deg,
    hsl(0, 0%, 6%) 0%,
    hsl(0, 0%, 6.05%) 0%,
    hsl(0, 0%, 6.18%) 0.2%,
    hsl(0, 0%, 6.38%) 0.8%,
    hsl(0, 0%, 6.63%) 1.9%,
    hsl(0, 0%, 6.9%) 3.7%,
    hsl(0, 0%, 7.2%) 6.4%,
    hsl(0, 0%, 7.5%) 10.2%,
    hsl(0, 0%, 7.79%) 15.2%,
    hsl(0, 0%, 8.07%) 21.6%,
    hsl(0, 0%, 8.33%) 29.6%,
    hsl(0, 0%, 8.55%) 39.4%,
    hsl(0, 0%, 8.74%) 51.2%,
    hsl(0, 0%, 8.88%) 65.1%,
    hsl(0, 0%, 8.97%) 81.3%,
    hsl(0, 0%, 9%) 100%
  );
}

hr { border: solid 1px var(--tertiary); }