@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'scrollbar';
@import 'colors';

* { font-family: "Fira Code", monospace; }

body {
  background: rgb(15,15,15);
  background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(28,28,28,1) 100%);
}

hr { border: solid 1px var(--tertiary); }

button,
a {
  -webkit-tap-highlight-color: transparent;
}