@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/a11y-prebuilt.css";
@import "@aposin/ng-aquila/css/utilities.css";
@import 'theme';
@import 'theme-overrides';
@import 'font-sizes';

@include nx-build-theme(portfolio-theme);

html, body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Fira Code', monospace;
}